<section class="container">
    
    <div class="logo-container">
        <img src="./img/colaboard-logo.png" />
    </div>

    <form ng-submit="home.sendUrl()"
        class="form-url" name="urlForm" layout-xs="column" layout="row" layout-align="center center">
        <md-input-container flex flex-gt-xs="90">
            <label>URL</label>    
            <input required type="url" name="urlField" ng-model="home.url" ng-pattern="/^https?://.+/">

            <div ng-messages="urlForm.urlField.$error" multiple md-auto-hide="false">
                <div ng-message="pattern">
                    Invalid URL. Please, provide something in the format "http://..." or "https://..."
                </div>
            </div>  
        </md-input-container>

        <section flex flex-gt-xs="10" class="btn-container">
            <md-button class="md-raised md-warn" aria-label="Send" ng-click="home.sendUrl()">GO!</md-button>
        </section>
    </form>

</section>
