.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: black;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: black;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: initial;
    background-image: none;
    color: rgb(0, 0, 0);
}
.md-button.md-fab {
    background-color: rgb(221,44,0);
}

.md-button.md-fab:not([disabled]):hover {
    background-color: rgb(255, 79, 35);
}